.top{
  margin-top:30px;
}
.facebook{
  background-color:#4267b2;
  width: 20%;
  height:65px;
  color:white;
  font-size: 20px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  margin-top:30px;
  
 }
 .button{  
  height:65px;
  color:white;
  font-size: 20px;
  text-align: center; 
  border-radius: 5px;
  display:table;
  vertical-align:middle;
 }
.login{
  display:grid;
  width: 80%;
  background-color:hsl(140, 46%, 48%);
   
}
.input{
  width: 80%;
}
 
span{
  margin: auto;
  display: block;
  
}
.text, h3, h4{
  margin:auto;
  color:white;
  margin-bottom:20px;
}

.image{
float:left;
}
a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #1b3815;
}

.log {
    margin-top:5px;
}

.hov {
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  .guest{
      margin-right: 6px;
  }

  .divExt{
   border-right: solid 5px   rgba(255, 255, 255, 0.5) ;
  }