.top{
  margin-top:30px;
}
.top10{
  margin-top:10px;
}
.top20{
  margin-top:20px;
}

.below30{
  margin-bottom:30px;
}

.textNumber{
  color:white;
  font-size:20px;
}
.facebook{
  background-color:#4267b2;
  width: 20%;
  padding:20px 10px;
  color:white;
  font-size: 20px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  margin-top:30px;  
 }
 .facebookImage{
   width: 20px;
   height: 30px;
 }
 .ViImage{
  width: 15px;
  height: 30px;
 }
 .button{  
  padding:20px 10px;
  color:white;
  font-size: 20px;
  text-align: center; 
  border-radius: 5px;
  display:table;
  vertical-align:middle;
  width: 100%;
 }
.login{
  display:grid; 
  background-color:rgb(66, 178, 103);
   
}
.input{
  width: 80%;
}
 
span{
  margin: auto;
  
}
.text, h3, h4{
  margin:auto;
  color:white;
  margin-bottom:20px;
  
}

.image{
float:left;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #1b3815;
}

.log {
    margin-top:5px;
}

.hov {
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  .guest{
      margin-right: 6px;
  }

  .divExt{
   border-right: solid 2px   rgba(255, 255, 255, 0.5) ;
  }

  .padl{
    padding-left:60px;
  }
  .padr{
    padding-right:60px;
  }

  .results{
    background-color: rgba(20, 2, 2, 0.8) ;
    border-radius: 5px;

  }
  .font30{
font-size:30px;
  }