body {
  margin: 0;
  padding: 0;
  background-image: url("PIC.jpg");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*ContinueB utton*/
.btn3 {
  border: 2px solid black;
  background-color: #e7e7e7;
  color: black;
  padding: 4px 8px;
  height: 52px;
  width: 132px;
  font-size: 16px;
  cursor: pointer;
  position: left;
  border-radius: 5px;
}

.default {
  border-color: gray;
  color: black;
}

.default:hover {
  background: #abb0ba;
  
}

/* AnswerOptions*/
.correct{
  border: solid 5px  #00e600;
}

.incorrect{
  border: solid 5px  #ff0055;
}



/* getTurnData(quiz) {
  const allAnswerOptions = quiz.reduce(function(p, c, i) {
    return p.concat(c.answer);
  }, []);
   const question = sample(quiz);
  const correctAnswer = question.correctAnswer;
  const treeRandomOptions = shuffle(question.answerOptions).slice(0, 3);
  console.log("treeRandomOptions", typeof treeRandomOptions);
  treeRandomOptions.push(correctAnswer);
  shuffle(treeRandomOptions)
  return {
    question: question,
    correctAnswer: correctAnswer,
    answerOptions: treeRandomOptions
  };
} */

/* @app.route('/selectQuestions')
def get_questions():
    sqlQuery =  SQL()
    questionInfo = sqlQuery.SelectQuestionsforQuiz()
    questionInfo  = [
      {
        "question": "q24321",
        "correctAnswer": "ansq1",
        "answerOptions": ["a11", "a12", "a13", "a14"]
      },
      {
        "question": "q2",
        "correctAnswer": "ansq2",
        "answerOptions": ["a21", "a22", "a23"]
      }
         
    ]
    return jsonify(questionInfo) */
