body {
  margin: 0;
  padding: 0;
  background-image: url("../images/PIC.jpg");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*ContinueB utton*/
.btn3 {
  border: 2px solid black;
  background-color: #e7e7e7;
  color: black;
  padding: 4px 8px;
  height: 52px;
  width: 132px;
  font-size: 16px;
  cursor: pointer;
  position: left;
  border-radius: 5px;
}

.default {
  border-color: gray;
  color: black;
}

.default:hover {
  background: #abb0ba;
  
}

/* AnswerOptions*/
.correct{
  background-color:    rgb(66, 178, 103);
}

.incorrect{
  background-color:    #f56d6d;
}

.correctBorder{
border: solid 5px  rgb(66, 178, 103);
}

.incorrectborder{
  border: solid 5px  #f56d6d;
}
